HVAC_IP=10.0.1.19
APC_ADDRESS=10.0.1.6:3551
GF_SERVER_ROOT_URL=http://loppen.christiania.org:8085
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MYSQL_EXPORTER_USER=exporter
MYSQL_EXPORTER_PASS=supersecret
MYSQL_HOST=10.0.1.6
MYSQL_PORT=3306
