global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'smartctl'
    static_configs:
      - targets: ['smartctl_exporter:9902']
